<div class="center jumbotron">
  <h1>Twisted Apline</h1>
  <h2>
    <li><a href="#product">Product</a></li>
    <li><a href="#about">About</a></li>

    
  </h2>
  
  <%= link_to "BUY" , '#', class: "btn btn-lg btn-primary" %>
</div>
<div class="center panel panel-default">
<div class="panel-body" id="product">
<b>button_to</b>
  <h1>Product</h1>
  <h2>
    Tag line
  </h2>
  
  <%= link_to "BUY" , '#', class: "btn btn-lg btn-primary" %>
</div>
</div>
<div class="center jumbotron" id="about">
  <h1>About</h1>
  <h2>
    Tag line
  </h2>
  
  <%= link_to "BUY" , '#', class: "btn btn-lg btn-primary" %>
</div>

