
<footer class="page-footer z-depth-3">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Twisted Alpine Products</h5>
        <p class="grey-text text-lighten-4"></p>
      </div>
      <div class="col l4 offset-l2 s12">
        
          <%= link_to "STORE" , 'http://twistedalpineproducts.bigcartel.com/', class: "waves-effect waves-light btn" %>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2016 Copyright Twisted Alpine Products
    </div>
  </div>
</footer>
